---
import NextJS from "./icon/NextJS.astro";
import TailwindIcon from "./icon/TailwindIcon.astro";
import AstroIcon from "./icon/AstroIcon.astro";
import ReactJS from "./icon/ReactJS.astro";
import Githubicon from "./icon/Githubicon.astro";
import JavascriptIcon from "./icon/JavascriptIcon.astro"
import CssIcon from "./icon/CssIcon.astro"
import HtmlIcon from "./icon/HtmlIcon.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },

  TAILWIND: {
    name: "Tailwind",
    class: "bg-white text-[#0891b2]",
    icon: TailwindIcon,
  },

  ASTRO: {
    name: "Astro",
    class: "bg-[#fb923c] text-white",
    icon: AstroIcon,
  },

  REACT: {
    name: "React",
    class: "bg-white text-[#06b6d4]",
    icon: ReactJS,
  },

  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-black text-[#F1C40F]",
    icon: JavascriptIcon
  },

  CSS: {
    name: "CSS",
    class: "bg-[#0891b2] text-white",
    icon: CssIcon
  },

  HTML: {
    name: "HTML",
    class: "bg-[#E56D40] text-black",
    icon: HtmlIcon
  }
};

const PROJECTS = [
  {
    title: "E-commerce fake store",
    description:
      "get acces to over 20* pages including a dashboard layout, charts, kanban board, calendar, and pro-order E-comerce & marketing pages",
    link: "#",
    github: "#",
    image: "/public/111.png",
    tags: [TAGS.HTML, TAGS.TAILWIND, TAGS.REACT],
  },

  {
    title: "React-taks-app",
    description:
      "get acces to over 20* pages including a dashboard layout, charts, kanban board, calendar, and pro-order E-comerce & marketing pages",
    link: "#",
    github: "https://github.com/cesar097/create-task",
    image: "/public/444.png",
    tags: [TAGS.HTML, TAGS.REACT, TAGS.CSS],
  },

  {
    title: "Rick and Morty API",
    description:
      "get acces to over 20* pages including a dashboard layout, charts, kanban board, calendar, and pro-order E-comerce & marketing pages",
    link: "#",
    github: "https://github.com/cesar097/RickAndMortyApi",
    image: "/public/333.jpg",
    tags: [TAGS.JAVASCRIPT, TAGS.CSS, TAGS.HTML],
  },

  {
    title: "POKEDEX",
    description:
      "get acces to over 20* pages including a dashboard layout, charts, kanban board, calendar, and pro-order E-comerce & marketing pages",
    link: "https://www.youtube.com/watch?v=QfhqUgC2nM0&list=RDMMpuvBJ8tm58I&index=15",
    github: "https://github.com/cesar097/pokedexPro",
    image: "/public/222.png",
    tags: [TAGS.JAVASCRIPT, TAGS.CSS, TAGS.HTML],
  },
];
---


{
PROJECTS.map(({ title, description, link, github, image, tags }) => (
    <article class="size-[370px] border-title text-white rounded-md shadow-lg flex flex-col items-center justify-center ml-6 cardStyle">
      <img class="w-full h-full rounded-top-md shadow-md" src={image} alt={title} />
      <div class="p-2 ">
        <span class="flex justify-between items-center hover:text-[#64ffda]">
          <h3 class="text-2xl font-bold text-title mb-2 mt-2">{title}</h3>
          <a href={github} target="_blank" rel="noopener noreferrer">
            <Githubicon class="size-6 cursor-pointer" />
          </a>
        </span>

        <p class="text-gray-300 mb-4">{description}</p>
        <ul class="flex flex-row gap-x-4">
          {tags.map((tag) => (
            <li key={tag.name}>
              <span
                class={`flex gap-x-2 rounded-full text-xs py-1 px-2 ${tag.class}`}
              >
                <tag.icon class="size-5" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
      </div>
    </article>
  ))
